<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unifam.heartpatrol">

    <supports-screens android:smallScreens="false"/>

    <compatible-screens>

        <!-- normal size screens -->
        <screen
            android:screenDensity="hdpi"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="480"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="560"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="640"
            android:screenSize="normal"/>

        <!-- large size screens -->
        <screen
            android:screenDensity="hdpi"
            android:screenSize="large"/>
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="large"/>
        <screen
            android:screenDensity="480"
            android:screenSize="large"/>
        <screen
            android:screenDensity="560"
            android:screenSize="large"/>
        <screen
            android:screenDensity="640"
            android:screenSize="large"/>
        <screen
            android:screenDensity="420"
            android:screenSize="normal"/>
    </compatible-screens>


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity android:name=".register.RegisterActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity android:name=".MainMenu"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity android:name=".SettingActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity android:name=".profile.ProfileActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity android:name=".SettingsActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity android:name=".transaction.TransactionActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity android:name=".ecg.ecg_recording"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity android:name=".ecg.ecg_result"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity android:name=".ecg.Ecg_Over_Read"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity android:name=".ecg.Ecg_Review"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity android:name=".estore.EstoreActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity android:name=".ecg.Ecg_Review_PDF"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
    </application>

</manifest>